/* line 1, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/bits */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 7, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/bits */
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif; }

/* line 12, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/bits */
.group:after {
  content: "";
  display: table;
  clear: both; }

/* line 18, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/bits */
.hidden {
  display: none; }

/* line 22, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/bits */
.left {
  float: left; }

/* line 26, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/bits */
.right {
  float: right; }

/* line 1, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/form */
input {
  margin: 0;
  padding: 0;
  height: 35px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 22px;
  outline: none; }
  /* line 9, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/form */
  input:not([type="submit"]) {
    padding: 5px 10px; }

/* line 1, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/header */
header {
  height: 75px;
  border-bottom: 1px solid #000; }

/* line 5, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
.main-wrapper {
  width: 100%;
  margin-top: 25px; }

/* line 10, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
.main-search {
  margin: 0 auto;
  width: 440px; }
  /* line 13, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
  .main-search .main-search-input {
    width: 400px; }
  /* line 17, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
  .main-search .main-search-submit {
    width: 35px; }

/* line 22, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
.main-images {
  margin-top: 20px;
  width: 100%; }
  /* line 26, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
  .main-images .images-div {
    position: relative;
    width: 25%;
    height: 100%;
    cursor: pointer;
    overflow: hidden; }
    @media (max-width: 800px) {
      .main-images .images-div {
        width: 50%; } }
    /* line 37, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
    .main-images .images-div:before {
      content: '';
      background: none;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: all 0.2s;
              transition: all 0.2s; }
    /* line 50, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
    .main-images .images-div:hover:before {
      background: rgba(255, 255, 255, 0.4); }
    /* line 53, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
    .main-images .images-div:hover > a > .image-title {
      height: 40%;
      padding-top: 10px; }
    /* line 59, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
    .main-images .images-div > a > img {
      width: 100%; }
    /* line 63, C:/Users/Shykee/Documents/GitHub/kosher-recipe/scss/global.scss */
    .main-images .images-div > a > .image-title {
      position: absolute;
      display: block;
      left: 0;
      bottom: 3px;
      right: 0;
      font-size: 20px;
      font-weight: 400;
      height: 30px;
      padding-left: 15px;
      color: #FFF;
      background: rgba(0, 0, 0, 0.6);
      -webkit-transition: all 0.2s;
              transition: all 0.2s; }
      @media (max-width: 1100px) {
        .main-images .images-div > a > .image-title {
          font-size: 14px; } }
/*# sourceMappingURL=global.css.map */