@import "bits";
@import "form";
@import "header";

.main-wrapper {
	width: 100%;
	margin-top: 25px;
}

.main-search {
	margin: 0 auto;
	width: 440px;
	.main-search-input {
		width: 400px;
	}

	.main-search-submit {
		width: 35px;
	}
}

.main-images {
	margin-top: 20px;
	width: 100%;

	.images-div {
		position: relative;
		width: 25%;
		height: 100%;
		cursor: pointer;
		overflow: hidden;

		@media(max-width: 800px) {
			width: 50%;
		}

		&:before {
			content: '';
			background: none;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			transition: all 0.2s;
		}

		&:hover {
			&:before {
				background: rgba(255, 255, 255, 0.4);
			}
			> a > .image-title {
				height: 40%;
				padding-top: 10px;
			}
		}

		> a > img {
			width: 100%;
		}

		> a > .image-title {
			position: absolute;
			display: block;
			left: 0;
			bottom: 3px;
			right: 0;
			font-size: 20px;
			font-weight: 400;
			height: 30px;
			padding-left: 15px;
			color: #FFF;
			background: rgba(0, 0, 0, 0.6);
			transition: all 0.2s;

			@media(max-width: 1100px) {
				font-size: 14px;
			}
		}
	}
}